.chatbot {
    
    background-image: url('/images/headerBG.jpg');
    background-size: 100% 100%;
    width: 250px;
    height: 500px;
    padding: 40px;
    border-radius: 15px;
    border-style: solid;
    border-color:red;
    /*skrollauspalkki*/
    overflow-y: scroll;
    


}
.chatbot header {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
   
    /*height: 50px;*/
}

body {
    background-image: url('/images/BGimg.jpg');
}
.asked {
    font-weight: bold;
}

.response {
    border: 1px solid black;
    color:white
}

