
.chatbot {
    
    background-image: url('/images/headerBG.jpg');
    background-size: 100% 100%;
    width: 250px;
    height: 500px;
    padding: 40px;
    border-radius: 15px;
    border-style: solid;
    border-color:red;
    /*skrollauspalkki*/
    overflow-y: scroll;
    


}
.chatbot header {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    
   
    /*height: 50px;*/
}

body {
    background-image: url('/images/BGimg.jpg');
}
.asked {
    font-weight: bold;
}

.response {
    border: 1px solid black;
    color:white
}


.hideBtn {
    position: fixed;
    left:705px;
    top:170px;
}
.ownQuestion {
    background-color: whitesmoke;
    position: fixed;
    left:500px;
    top:250px;
}

.readBtn {
    position: fixed;
    top:236px;
    left:630px;
    background-color: #42cbf5;
    padding: 3px;
    border-radius: 10px;

}
.news {
    padding: 18px;
    position: fixed;
    left: 360px;
    top:50px;
    background-color: #bbede7;
    width: 28%;
    border-radius: 10px;
}
.newsTemplate {
    border-radius: 10px;
    position: fixed;
    left: 360px;
    top:264px;
    background-color:#bbede7;
    width: 30%;
    border: 1px solid black;
    height:55%;
    overflow-y: scroll;

}
.chat-incoming {
    background-color: #c1e2e8;
    border-radius: 10px;
}
.newsBtn {
    background-color: #42cbf5;
    padding: 3px;
    border-radius: 10px;
}
.keywordBtn {
    position: fixed;
    top:235px;
    background-color: #42cbf5;
    padding: 3px;
    border-radius: 10px;

}
/*inputs divin input kentille pelkästään annettu tyylimäärätys*/
.inputs input {
    float: right;
}

.countryLbl {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
    